.Notch {
  transition: width 0.5s ease-in-out;
}

.Notch:hover {
  width: 30rem !important;
}

.Notch::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
  top: 36%;
  left: 0;
  transform: translateY(-1px) translateX(-100%);
  background: transparent;
  border-top-right-radius: 28px;
  box-shadow: 6px -6px 0 5px #F2F2F2;
  transition: all 0.3s ease-in-out;
}

.Notch::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  pointer-events: none;
  top: 36%;
  right: 0;
  transform: translateY(-1px) translateX(100%) rotate(1deg);
  background: transparent;
  border-top-left-radius: 40px;
  box-shadow: -6px -6px 0 5px #F2F2F2;
  transition: all 0.3s ease-in-out;
}
